<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Add a new note:</h2>
            
            <hr>
            
            <label for="title">Title</label><br>
            <input ng-model="vm.note.title" type="text" name="title"> 
            <br>
            <hr>

            <label for="description">Description</label><br>
            <textarea ng-model="vm.note.description" name="description" cols="30" rows="10"></textarea>
            <br>

            <hr>

            <button ng-click="vm.addNote()">Add Note</button>
        </div>
    </div>


    <hr>
    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h2>Notes:</h2>
            <div ng-repeat="note in vm.notes">
                <h3>Note: {{$index+1}}</h3>
                <div ng-hide="vm.editable === $index">
                    <h5>Title: {{note.title}}</h5>
                    <p>Description: {{note.description}}</p>
                </div>
                <div ng-show="vm.editable === $index">
                    <label for="title">Title</label>
                    <input ng-model="note.title" type="text">
                    <label for="description">Description</label>
                    <textarea ng-model="note.description" name="description"cols="30" rows="10"></textarea>
                </div>
                <button ng-hide="vm.editable === $index" ng-click="vm.setEditable($index)">Edit</button>
                <button ng-show="vm.editable === $index" ng-click="vm.editNote(note)">Save</button>
                <button ng-click="vm.deleteNote(note._id)">Delete</button>
                <hr>
            </div>
        </div>
    </div>
</div>